<h2 class="rp">Recover Password</h2>
<form [formGroup]="myForm" (ngSubmit)="onSubmit()" novalidate>
  <mat-grid-list cols="1" rowHeight="500px">
    <mat-grid-tile>
      <section class="example-container">
        <mat-form-field appearance="fill" class="width-50 ">
          <mat-label>Email</mat-label>
          <input matInput type="email" name="email" placeholder="Enter Email" formControlName="email">
          <mat-error *ngIf="myError('email', 'required')">Email is required</mat-error>
          <mat-error *ngIf="myError('email', 'email')">Enter Valid Email</mat-error>
        </mat-form-field>
        <button type="button" [disabled]="myError('email', 'email')||myError('email', 'required')" mat-raised-button
           class="btn btn-primary width-25 ml-2" (click)="sendOtp()">Generate Otp</button>
        <br>
        <div *ngIf="isEnable">
        <mat-form-field appearance="fill" class="width-50 ">
          <mat-label>Enter otp</mat-label>
          <input matInput type="text" name="otp" placeholder="Enter otp" formControlName="otp">
          <mat-error *ngIf="myError('otp', 'required')">otp is required</mat-error>
          <mat-error *ngIf="myError('otp', 'maxlength')">Enter Valid otp</mat-error>
        </mat-form-field>
        <button type="button" [disabled]="!isEnable" mat-raised-button  class="btn btn-primary width-25 ml-2"
          (click)="verifyOtp()">Varify otp</button>
      </div>
        <br>
        <ng-container *ngIf="isTxtEnable">
        <mat-form-field appearance="fill" class="width-100">
          <mat-label>Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" name="password" formControlName="password">
          <mat-error *ngIf="myError('password', 'required')">Password is required</mat-error>
          <mat-error *ngIf="myError('password', 'maxlength')">Password must be 12 character</mat-error>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" class="width-100">
          <mat-label> Confirm password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" name="cpassword" formControlName="cpassword"
            (blur)="confirmpassword()">
          <mat-error *ngIf="myError('cpassword', 'required')">Confirm Password is required</mat-error>
          <mat-error *ngIf="myError('cpassword', 'confirmPasswordValidator')">Password is mismatch</mat-error>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <br>


        <section class="btndiv">
          <button type="submit" [disabled]="!myForm.valid||!isTxtEnable" mat-raised-button 
            class="btn btn-primary bregister">Update Password</button>
          <a href="/recoverpassword"  mat-raised-button  class="btn btn-primary cregister">Reset</a>
        </section>
      </ng-container>
      </section>
    </mat-grid-tile>
  </mat-grid-list>
</form>