<h2 class="rp">Update Password</h2>
<form [formGroup]="myForm" (ngSubmit)="onSubmit()" novalidate>
  <mat-grid-list cols="1" rowHeight="500px">
    <mat-grid-tile>
        <section class="example-container">
    
        <mat-form-field appearance="fill" class="width-100">
            <mat-label>Enter Current Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" name="password" formControlName="password">
            <mat-error *ngIf="myError('password', 'required')">Password is required</mat-error>
            <mat-error *ngIf="myError('password', 'maxlength')">Password must be 12 character</mat-error>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
    
        <mat-form-field appearance="fill" class="width-100">
          <mat-label>New Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" name="newpassword" formControlName="newpassword">
          <mat-error *ngIf="myError('newpassword', 'required')">Password is required</mat-error>
          <mat-error *ngIf="myError('newpassword', 'maxlength')">Password must be 12 character</mat-error>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
       
        <mat-form-field appearance="fill" class="width-100">
          <mat-label> Confirm password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" name="cpassword" formControlName="cpassword"
            (blur)="confirmpassword()">
          <mat-error *ngIf="myError('cpassword', 'required')">Confirm Password is required</mat-error>
          <mat-error *ngIf="myError('cpassword', 'confirmPasswordValidator')">Password is mismatch</mat-error>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>



        <section class="btndiv">
          <button type="submit" mat-raised-button 
            class="btn btn-primary bregister">Update Password</button>
          <a href="/"  mat-raised-button  class="btn btn-primary cregister">Back To Home</a>
        </section>
   
    </section>
    </mat-grid-tile>
  </mat-grid-list>
</form>
